.header{
    width: 100%;
    background-color: rgb(178, 212, 228);
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
}
.divButton{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        border: none;
        background-color: transparent;
        font-size: 30px;
        color:rgb(85, 85, 92);
        cursor: pointer;
        &:hover{
            color:rgb(255, 255, 255);
        }
    }
}